// files
@import "header";
@import "home";
@import "examples";
@import "subscribe";
// Fonts
@import url('https://fonts.googleapis.com/css?family=Maven+Pro');
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
// Variables
@import 'variables';

body {
	margin: 0;
	padding: 0;
	line-height: 1.4em;
	font-size: 22px;
	font-family: 'Maven Pro', 'Nunito', sans-serif;
}

ul {
	padding: 0;
	margin: 0;
}

a {
	text-decoration: none;
}

p {
	margin: 0;
}