.navbar {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 70px;
	width: 100%;
	padding: 0 50px;
	margin-bottom: 10px;
	position: fixed;
	z-index: 1;
	background-color: #313030;

	.navbar-menu {
		list-style-type: none;
		display: flex;
		align-items: center;
		height: inherit;

		.navbar-item {
			font-size: 20px;
			height: inherit;
			width: 110px;
			display: flex;
			align-items: center;
			-webkit-transition: all .3s;
			-moz-transition: all .3s;
			-ms-transition: all .3s;
			-o-transition: all .3s;
			transition: all .3s;
			text-transform: uppercase;

			a {
				width: inherit;
				height: inherit;
				color: #fefefe;
				display: flex;
				justify-content: space-around;
				align-items: center;
			}

			.login-logo {
				width: 32px;
			}
		}

		.navbar-item:hover {
			background: #fc5447;
		}

		.navbar-item:active {
			background: #fc5447;
		}

		//.navbar-item:last-child {
		//	border-radius: 5px;
		//	border: 1.5px solid #fefefe;
		//}
	}

	.navbar-item-logo {
		height: 50px;
	}
}