.navbar {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 70px;
	width: 100%;
	padding: 0 50px;
	margin-bottom: 10px;
	position: fixed;
	z-index: 1;
	background-color: #313030;

	.menu-wrapper {
		height: 100%;

		.navbar-menu {
			list-style-type: none;
			display: flex;
			align-items: center;
			height: inherit;
			-webkit-transition: all .2s;
			-moz-transition: all .2s;
			-ms-transition: all .2s;
			-o-transition: all .2s;
			transition: all .2s;

			.navbar-item {
				font-size: 20px;
				height: inherit;
				width: 110px;
				display: flex;
				align-items: center;
				-webkit-transition: all .3s;
				-moz-transition: all .3s;
				-ms-transition: all .3s;
				-o-transition: all .3s;
				transition: all .3s;
				text-transform: uppercase;
				white-space: pre;

				a {
					width: inherit;
					height: inherit;
					color: #fefefe;
					display: flex;
					justify-content: space-around;
					align-items: center;
				}

				.login-logo {
					width: 32px;
				}
			}

			.navbar-item:hover {
				background: #fc5447;
			}

			.navbar-item:active {
				background: #fc5447;
			}
		}
	}

	.navbar-item-logo {
		height: 50px;
	}

	.menu-button-wrapper {
		height: 32px;
		width: 40px;
		display: none;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		cursor: pointer;
		padding: 4px;

		.line {
			width: 24px;
			height: 2px;
			background-color: #fff;
		}

		.line:before, .line:after {
			content: '';
			display: block;
			position: relative;
			background-color: #fff;
			width: 32px;
			height: 2px;
			right: 8px;
		}

		.line:before {
			top: -12px;
		}

		.line:after {
			bottom: -11px;
		}
	}
}

@media screen and (max-width: 860px) {
	.navbar {
		padding-right: 0;

		.navbar-item-logo {
			height: 38px;

			img {
				height: 38px;
			}
		}

		.menu-wrapper {
			align-self: flex-start;
			display: flex;

			.menu-button-wrapper {
				display: flex;
				margin-top: 15px;
			}

			.navbar-menu {
				display: none;
				flex-direction: column;
				align-self: flex-start;
				height: 100vh;
				width: 0;
				background-color: #333;

				.navbar-item {
					height: 70px;
					width: inherit;
				}
			}

			.navbar-menu.active {
				display: flex;
				width: 195px;
			}

			.menu-button-wrapper.active {
				width: 32px;

				.line {
					width: 0;
					height: 0;
				}

				.line:after {
					bottom: 5px;
					left: -15px;
					transform: rotate(-45deg);
				}

				.line:before {
					top: -3px;
					left: -15px;
					transform: rotate(45deg);
				}
			}
		}
	}
}

