.home {
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	position: relative;
	height: 100vh;
	padding-top: 65px;
	background: #f6f2f2;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

	.container {
		width: 90%;
		max-width: 1400px;
		display: flex;
		justify-content: space-around;
		align-items: center;

		.home-text {
			color: #000;
			display: flex;
			justify-content: center;
			flex-direction: column;
			width: 500px;

			.buttons {
				display: flex;
				justify-content: flex-start;
				align-items: center;
				margin: 20px 0 40px 0;

				.button {
					display: flex;
					justify-content: center;
					align-items: center;
					cursor: pointer;
					width: 230px;
					height: 50px;
					border-radius: 8px;
					color: #fff;
					background-color: #5753ff;
					-webkit-box-shadow: 2px 6px 8px -2px rgba(0, 0, 0, 0.75);
					-moz-box-shadow: 2px 6px 8px -2px rgba(0, 0, 0, 0.75);
					box-shadow: 2px 6px 8px -2px rgba(0, 0, 0, 0.75);
					-webkit-user-select: none;
					-moz-user-select: none;
					-ms-user-select: none;
					user-select: none;
				}

				.button:last-child {
					margin-left: 20px;
				}

				.button:active {
					margin-bottom: -1px;
				}
			}

			.intro-text {
				font-size: 50px;
				line-height: normal;
				font-weight: bold;
				margin-bottom: 25px;
			}

			.about-text {
				font-family: 'Open Sans', sans-serif;
				font-weight: 300;
				color: #aaa;
				font-size: 12px;
				line-height: 1.8em;
				margin-bottom: 10px;
			}
		}

		.home-picture {
			max-width: 512px;
		}
	}
}