@import url(https://fonts.googleapis.com/css?family=Maven+Pro);@import url(https://fonts.googleapis.com/css?family=Open+Sans&display=swap);.navbar {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  width: 100%;
  padding: 0 50px;
  margin-bottom: 10px;
  position: fixed;
  z-index: 1;
  background-color: #313030;
}

.navbar .menu-wrapper {
  height: 100%;
}

.navbar .menu-wrapper .navbar-menu {
  list-style-type: none;
  display: flex;
  align-items: center;
  height: inherit;
  transition: all 0.2s;
}

.navbar .menu-wrapper .navbar-menu .navbar-item {
  font-size: 20px;
  height: inherit;
  width: 110px;
  display: flex;
  align-items: center;
  transition: all 0.3s;
  text-transform: uppercase;
  white-space: pre;
}

.navbar .menu-wrapper .navbar-menu .navbar-item a {
  width: inherit;
  height: inherit;
  color: #fefefe;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.navbar .menu-wrapper .navbar-menu .navbar-item .login-logo {
  width: 32px;
}

.navbar .menu-wrapper .navbar-menu .navbar-item:hover {
  background: #fc5447;
}

.navbar .menu-wrapper .navbar-menu .navbar-item:active {
  background: #fc5447;
}

.navbar .navbar-item-logo {
  height: 50px;
}

.navbar .menu-button-wrapper {
  height: 32px;
  width: 40px;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 4px;
}

.navbar .menu-button-wrapper .line {
  width: 24px;
  height: 2px;
  background-color: #fff;
}

.navbar .menu-button-wrapper .line:before,
.navbar .menu-button-wrapper .line:after {
  content: "";
  display: block;
  position: relative;
  background-color: #fff;
  width: 32px;
  height: 2px;
  right: 8px;
}

.navbar .menu-button-wrapper .line:before {
  top: -12px;
}

.navbar .menu-button-wrapper .line:after {
  bottom: -11px;
}

@media screen and (max-width: 860px) {
  .navbar {
    padding-right: 0;
  }

  .navbar .navbar-item-logo {
    height: 38px;
  }

  .navbar .navbar-item-logo img {
    height: 38px;
  }

  .navbar .menu-wrapper {
    align-self: flex-start;
    display: flex;
  }

  .navbar .menu-wrapper .menu-button-wrapper {
    display: flex;
    margin-top: 15px;
  }

  .navbar .menu-wrapper .navbar-menu {
    display: none;
    flex-direction: column;
    align-self: flex-start;
    height: 100vh;
    width: 0;
    background-color: #333;
  }

  .navbar .menu-wrapper .navbar-menu .navbar-item {
    height: 70px;
    width: inherit;
  }

  .navbar .menu-wrapper .navbar-menu.active {
    display: flex;
    width: 195px;
  }

  .navbar .menu-wrapper .menu-button-wrapper.active {
    width: 32px;
  }

  .navbar .menu-wrapper .menu-button-wrapper.active .line {
    width: 0;
    height: 0;
  }

  .navbar .menu-wrapper .menu-button-wrapper.active .line:after {
    bottom: 5px;
    left: -15px;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  .navbar .menu-wrapper .menu-button-wrapper.active .line:before {
    top: -3px;
    left: -15px;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
}

.home {
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  position: relative;
  height: 100vh;
  padding-top: 65px;
  background: #f6f2f2;
  box-sizing: border-box;
}

.home .container {
  width: 90%;
  max-width: 1400px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.home .container .home-text {
  color: #000;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 500px;
}

.home .container .home-text .buttons {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 20px 0 40px 0;
}

.home .container .home-text .buttons .button {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 230px;
  height: 50px;
  border-radius: 8px;
  color: #fff;
  background-color: #5753ff;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.home .container .home-text .buttons .button:last-child {
  margin-left: 20px;
}

.home .container .home-text .intro-text {
  font-size: 50px;
  line-height: normal;
  font-weight: bold;
  margin-bottom: 25px;
}

.home .container .home-text .about-text {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  color: #aaa;
  font-size: 12px;
  line-height: 1.8em;
  margin-bottom: 10px;
}

.home .container .home-picture {
  width: 512px;
}

@media screen and (max-width: 1160px) {
  .home .container {
    flex-direction: column;
  }
}

@media screen and (max-width: 580px) {
  .home .container .home-text {
    width: 400px;
  }

  .home .container .home-text .intro-text {
    font-size: 35px;
    text-align: center;
  }

  .home .container .home-text .buttons {
    margin: 10px 0 20px 0;
  }

  .home .container .home-picture {
    width: 400px;
  }

  .home .container .home-picture img {
    width: 400px;
  }
}

@media screen and (max-width: 465px) {
  .home .container .home-text {
    width: 375px;
  }

  .home .container .home-text .buttons {
    margin: 10px 0 20px 0;
  }

  .home .container .home-picture {
    width: 400px;
  }

  .home .container .home-picture img {
    width: 400px;
  }
}

.examples {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.examples .examples-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 512px;
}

.examples .examples-text .examples-title {
  font-family: "Maven Pro", sans-serif;
  font-size: 50px;
  font-weight: bold;
  text-transform: uppercase;
  color: #333;
}

.examples .examples-text .examples-description {
  font-family: "Open Sans", sans-serif;
  color: #aaa;
  line-height: 1.8em;
  font-size: 14px;
  text-align: center;
}

.examples .styles {
  display: flex;
  margin: 40px 0;
}

.examples .styles .column {
  margin: 0 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 300px;
}

.examples .styles .column .column-title {
  font-family: "Maven Pro", sans-serif;
  text-transform: uppercase;
  color: #aaa;
}

.examples .styles .column .style-image-wrapper {
  width: 300px;
  height: 200px;
  margin-top: 25px;
  background-color: #737373;
  transition: all 0.2s;
}

.examples .styles .column .style-image-wrapper:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

@media screen and (max-width: 1050px) {
  .examples .styles {
    flex-direction: column;
  }

  .examples .styles .column:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 550px) {
  .examples .examples-text .examples-title {
    font-size: 40px;
  }
}

.subscribe {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: #2c2c2c;
  padding: 100px 0;
  width: 100%;
}

.subscribe .subscribe-title,
.subscribe .subscribe-text,
.subscribe .subscribe-submit {
  color: #fff;
}

.subscribe .subscribe-title,
.subscribe .subscribe-submit {
  text-transform: uppercase;
}

.subscribe .subscribe-title,
.subscribe .subscribe-text {
  margin: 0 0 35px 0;
}

.subscribe .subscribe-title {
  font-size: 35px;
}

.subscribe .subscribe-text {
  font-size: 18px;
}

.subscribe .send-wrapper {
  display: flex;
}

.subscribe .send-wrapper .subscribe-email,
.subscribe .send-wrapper .subscribe-submit {
  border-radius: 6px;
  height: 50px;
  font-size: 20px;
}

.subscribe .send-wrapper .subscribe-email {
  width: 400px;
  border: none;
  outline: none;
  margin-right: 10px;
  padding: 0 10px;
}

.subscribe .send-wrapper .subscribe-submit {
  background-color: #fc5447;
  font-size: 18px;
  width: 120px;
  border: none;
  cursor: pointer;
  text-align: center;
}

@media screen and (max-width: 700px) {
  .subscribe .subscribe-title,
  .subscribe .subscribe-text {
    margin-bottom: 20px;
  }

  .subscribe .subscribe-title {
    font-size: 28px;
  }

  .subscribe .send-wrapper .subscribe-email {
    width: 280px;
  }

  .subscribe .send-wrapper .subscribe-submit {
    width: 110px;
  }

  .subscribe .send-wrapper .subscribe-email,
  .subscribe .send-wrapper .subscribe-submit {
    font-size: 16px;
  }
}

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.about .section-title {
  font-family: "Maven Pro", sans-serif;
  font-size: 50px;
  font-weight: bold;
  text-transform: uppercase;
  color: #333;
  margin: 50px 0 32px 0;
}

.about .section-text {
  font-family: "Open Sans", sans-serif;
  color: #aaa;
  line-height: 1.8em;
  font-size: 14px;
  text-align: center;
  white-space: pre-wrap;
}

.about .content {
  display: flex;
  justify-content: center;
  margin-top: 35px;
}

.about .content .about-photo {
  margin-right: 35px;
}

.about .content .content-main {
  display: flex;
  flex-direction: column;
  max-width: 650px;
}

.about .content .content-main .section-title {
  margin: -10px 0 30px 0;
}

.about .content .content-main .buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 35px;
}

.about .content .content-main .buttons .button {
  width: 280px;
  height: 48px;
  box-sizing: border-box;
  border: 1px solid #fc5447;
  border-radius: 8px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.about .content .content-main .buttons .example {
  color: #fff;
  background-color: #fc5447;
}

.about .content .content-main .buttons .order {
  color: #fc5447;
  background-color: #fff;
}

@media screen and (max-width: 1100px) {
  .about .content {
    flex-direction: column-reverse;
    align-items: center;
  }

  .about .content .content-main {
    margin-bottom: 50px;
  }

  .about .content .content-main .section-title {
    font-size: 40px;
  }
}

@media screen and (max-width: 700px) {
  .about .section-title {
    font-size: 35px;
    margin: 30px 0 16px 0;
  }

  .about .content {
    padding: 0 10px;
    box-sizing: border-box;
  }

  .about .content .about-photo {
    margin: 0;
  }

  .about .content .content-main {
    margin-bottom: 25px;
  }

  .about .content .content-main .section-title {
    font-size: 25px;
    text-align: center;
  }

  .about .content .content-main .buttons {
    margin-top: 15px;
    flex-direction: column;
    align-self: center;
  }

  .about .content .content-main .order {
    margin-top: 20px;
  }
}

.mission {
  display: flex;
  justify-content: center;
  margin: 70px 0;
}

.mission .mission-content {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  margin-right: 50px;
}

.mission .mission-content .section-title {
  font-family: "Maven Pro", sans-serif;
  font-size: 50px;
  font-weight: bold;
  text-transform: uppercase;
  color: #333;
  margin: 0 0 12px 0;
}

.mission .mission-content .section-text {
  font-family: "Open Sans", sans-serif;
  color: #aaa;
  line-height: 1.8em;
  font-size: 14px;
  text-align: left;
  white-space: pre-wrap;
}

.mission .mission-content .form {
  display: flex;
  flex-direction: column;
}

.mission .mission-content .form .info {
  display: flex;
  justify-content: space-between;
  margin-top: 35px;
}

.mission .mission-content .form .info .input {
  width: 230px;
  height: 38px;
}

.mission .mission-content .form .message {
  outline: none;
  -moz-appearance: none;
  border: 1px solid #999;
  resize: none;
  margin-top: 35px;
  height: 180px;
  padding: 10px;
}

.mission .mission-content .form .message,
.mission .mission-content .form .info .input {
  background-color: #e5e5e5;
  border-radius: 8px;
  font-size: 16px;
  color: #333;
  font-family: "Open Sans", sans-serif;
  border: none;
  outline: none;
  padding-left: 10px;
}

.mission .mission-content .form .send {
  width: 100%;
  height: 42px;
  text-transform: uppercase;
  background-color: #5753ff;
  font-size: 20px;
  font-family: "Open Sans", sans-serif;
  color: #fff;
  border: none;
  outline: none;
  margin-top: 35px;
  cursor: pointer;
  border-radius: 6px;
}

@media screen and (max-width: 900px) {
  .mission {
    margin-top: 30px;
    padding: 0 15px;
    box-sizing: border-box;
  }

  .mission .img-wrapper {
    display: none;
  }

  .mission .mission-content {
    text-align: center;
    margin: 0;
  }

  .mission .mission-content .section-title {
    font-size: 35px;
  }

  .mission .mission-content .section-text {
    text-align: center;
  }
}

@media screen and (max-width: 550px) {
  .mission .mission-content .form .info {
    flex-direction: column;
  }

  .mission .mission-content .form .info .input {
    width: inherit;
  }

  .mission .mission-content .form .info .input:first-child {
    margin-bottom: 25px;
  }

  .mission .mission-content .form .message {
    height: 100px;
  }
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5%;
  height: 62px;
  width: 100%;
  box-sizing: border-box;
}

.footer .logo-small {
  height: 40px;
}

.footer .social-icons {
  width: 180px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer .social-icons .icon {
  width: 30px;
  height: 30px;
}

.registration,
.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #333;
  height: calc(100vh - 62px);
  justify-content: center;
}

.registration .login-or-reg,
.login .login-or-reg {
  margin-bottom: 20px;
}

.registration .login-or-reg .link-to-reg,
.login .login-or-reg .link-to-reg {
  border-bottom: 1px solid #333;
  padding-bottom: 4px;
  color: #8067a5;
}

.registration .login-or-reg .title,
.login .login-or-reg .title {
  margin: 0;
}

.registration .title,
.login .title {
  margin: 0 0 20px 0;
  font-size: 36px;
  font-weight: 500;
}

.registration .form,
.login .form {
  display: flex;
  flex-direction: column;
}

.registration .form .input,
.login .form .input {
  margin-bottom: 15px;
  width: 360px;
  height: 36px;
  font-size: 17px;
  border-radius: 5px;
  border: 1px solid #333333;
  box-sizing: border-box;
  padding: 5px;
  background-color: rgba(87, 83, 255, 0.05);
  outline: none;
}

.registration .form .submit,
.login .form .submit {
  cursor: pointer;
  width: 200px;
  background-color: inherit;
  border: 2px solid #333;
  height: 50px;
  border-radius: 10px;
  font-size: 20px;
  align-self: center;
  transition: all 0.2s;
}

.registration .form .submit:hover,
.login .form .submit:hover {
  border: 2px solid #fefefe;
  color: #fefefe;
  background-color: #333;
}

.registration .invalid-feedback,
.login .invalid-feedback {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #ffe8e8;
  border-radius: 10px;
  margin-bottom: 15px;
}

body {
  margin: 0;
  padding: 0;
  font-size: 22px;
  font-family: "Maven Pro", "Nunito", sans-serif;
  min-width: 450px;
}

body #root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

ul {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
}

