.home {
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	position: relative;
	min-height: 100vh;
	padding: 65px 0;
	background: #f6f2f2;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

	.container {
		width: 90%;
		max-width: 1400px;
		display: flex;
		justify-content: space-around;
		align-items: center;

		.home-text {
			color: #000;
			display: flex;
			justify-content: center;
			flex-direction: column;
			width: 500px;

			.buttons {
				display: flex;
				justify-content: flex-start;
				align-items: center;
				margin: 20px 0 40px 0;

				.button {
					display: flex;
					justify-content: center;
					align-items: center;
					cursor: pointer;
					width: 230px;
					height: 50px;
					border-radius: 8px;
					color: #fff;
					background-color: #5753ff;
					-webkit-user-select: none;
					-moz-user-select: none;
					-ms-user-select: none;
					user-select: none;
				}

				.button:last-child {
					margin-left: 20px;
				}
			}

			.intro-text {
				font-size: 50px;
				line-height: normal;
				font-weight: bold;
				margin-bottom: 25px;
			}

			.about-text {
				font-family: 'Open Sans', sans-serif;
				font-weight: 300;
				color: #aaa;
				font-size: 12px;
				line-height: 1.8em;
				margin-bottom: 10px;
			}
		}

		.home-picture {
			width: 512px;
			height: 360px;
		}
	}
}

@media screen and (max-width: 1160px) {
	.home {
		.container {
			flex-direction: column;
			justify-content: flex-start;
		}
	}
}

@media screen and (max-width: 580px) {
	.home {
		min-height: 100%;
		padding: 70px 0 35px 0;

		.container {
			.home-text {
				width: 400px;

				.intro-text {
					font-size: 35px;
					text-align: center;
				}

				.buttons {
					margin: 10px 0 20px 0;
				}
			}

			.home-picture {
				width: 400px;
				height: 282px;

				img {
					width: 400px;
				}
			}
		}
	}
}

@media screen and (max-width: 465px) {
	.home {
		.container {
			.home-text {
				width: 375px;

				.buttons {
					margin: 10px 0 20px 0;
				}
			}
		}
	}
}