.profile {
    padding: 90px 5% 0 5%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;

    .info {
        display: flex;

        .avatar-wrapper {
            min-width: 158px;
            min-height: 158px;
            border-radius: 50%;
            background-color: #fff1f1;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;

            .avatar-default {
                width: 128px;
                height: 128px;
                margin-bottom: 10px;
            }
        }

        .info-text {
            width: 100%;
            max-width: 700px;
            margin: 15px 0 0 25px;
            font-family: 'Nunito', sans-serif;

            .username {
                padding-bottom: 25px;
                font-size: 30px;
                cursor: default;
            }

            .status-wrapper {
                display: flex;

                .set-status {
                    min-width: 32px;
                    height: 32px;
                    margin-left: 4px;
                    box-sizing: border-box;
                    border-radius: 5px;
                    padding: 0;
                    border: none;
                    background-color: #5cff3f;
                    cursor: pointer;
                    display: none;
                    justify-content: center;
                    color: #fff;
                    transition: color .3s;

                    &:hover {
                        color: #313030;
                    }

                    &.active {
                        display: flex;
                    }
                }
            }

            .status {
                font-weight: 200;
                width: 100%;
                border: none;
                border-bottom: 1px solid #333;
                font-size: 16px;
                color: #9f9f9f;
                padding-bottom: 10px;
                letter-spacing: 1px;
            }
        }
    }

    .created-photos {

    }

    .liked-photos {

    }
}

.profile-loading {
    padding-top: 80px;
    margin: 100px auto;
    width: 40px;
    height: 40px;
    position: relative;

    .cube1, .cube2 {
        background-color: #333;
        width: 15px;
        height: 15px;
        position: absolute;
        top: 0;
        left: 0;

        -webkit-animation: sk-cubemove 1.2s infinite ease-in-out;
        animation: sk-cubemove 1.2s infinite ease-in-out;
    }

    .cube2 {
        -webkit-animation-delay: -0.9s;
        animation-delay: -0.9s;
    }
}

@-webkit-keyframes sk-cubemove {
    25% {
        -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5)
    }
    50% {
        -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg)
    }
    75% {
        -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5)
    }
    100% {
        -webkit-transform: rotate(-360deg)
    }
}

@keyframes sk-cubemove {
    25% {
        transform: translateX(42px) rotate(-90deg) scale(0.5);
        -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5);
    }
    50% {
        transform: translateX(42px) translateY(42px) rotate(-179deg);
        -webkit-transform: translateX(42px) translateY(42px) rotate(-179deg);
    }
    50.1% {
        transform: translateX(42px) translateY(42px) rotate(-180deg);
        -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg);
    }
    75% {
        transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
        -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
    }
    100% {
        transform: rotate(-360deg);
        -webkit-transform: rotate(-360deg);
    }
}

